<h3> Add <%=@beer[:name]%>?</h3>

<div class="beer-card">
  <img src="https://cdn.beeradvocate.com/im/beers/<%=@url%>.jpg" alt="Beer image">
  <p>Name: <%=@beer[:name]%> </p>
  <p>Brewery: <%=@beer[:brewery]%></p>
  <p>ABV: <%=@beer[:abv]%>%</p>
  <p>Style: <%=@beer[:style]%></p>
  <p>BA Score: <%=@beer[:bascore]%> /100</p>
</div>
