<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2 pl-4 pr-4 m-2 mt-4 bd-highlight bg-light font-weight-bold box-shadow-border rounded h3"><%= @beer["name"] %></div>
  <div class="d-flex card-beer mt-4 box-shadow-border rounded">
    <img class="card-beer-image rounded box-shadow-border m-2 align-self-center" src="https://cdn.beeradvocate.com/im/beers/<%=@beer["img"]%>.jpg" alt="<%= @beer["name"] %> picture">
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 m-2 bd-highlight font-italic">Brewery: <%= @beer["brewery"] %></div>
      <div class="p-2 m-2 bd-highlight">ABV: <%= @beer["abv"] %>%</div>
      <div class="p-2 m-2 bd-highlight">Style: <%= @beer["style"] %></div>
      <div class="p-2 m-2 bd-highlight">Notes: <%= @beer["notes"] %></div>
      <div class="p-2 m-2 bd-highlight">BA Score: <%= @beer["bascore"] %></div>
      <div class="p-2 m-2 bd-highlight">User Score: <%= @beer["uscore"] %></div>
    </div>
  </div>
  <a class="btn btn-danger w-50 mt-4 beer-confirm" href="/delete/<%=@beer["id"] %>" data-confirm="Are you sure you want to delete this beer?">Delete beer</a>
</div>
