<h1><%= @beer["name"] %> - <%= @beer["brewery"] %></h1>
<!-- TODO put all the data in a table -->
Name: <%= @beer["name"] %>
Brewery: <%= @beer["brewery"] %>
ABV: <%= @beer["abv"] %>%
Style: <%= @beer["style"] %>
Notes: <%= @beer["notes"] %>
BA Score: <%= @beer["bascore"] %>
User Score: <%= @beer["uscore"] %>
img: <img src="https://cdn.beeradvocate.com/im/beers/<%=@beer["img"]%>.jpg" alt="<%= @beer["name"] %> picture">
