<h1><%= @beer["name"] %> - <%= @beer["brewery"] %></h1>
<!-- TODO put all the data in a table -->

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex card-beer">
    <img class="card-beer-image rounded box-shadow-border" src="https://cdn.beeradvocate.com/im/beers/<%=@beer["img"]%>.jpg" alt="<%= @beer["name"] %> picture">
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 m-2 bd-highlight">Name: <%= @beer["name"] %></div>
      <div class="p-2 m-2 bd-highlight">Brewery: <%= @beer["brewery"] %></div>
      <div class="p-2 m-2 bd-highlight">ABV: <%= @beer["abv"] %>%</div>
      <div class="p-2 m-2 bd-highlight">Style: <%= @beer["style"] %></div>
      <div class="p-2 m-2 bd-highlight">Notes: <%= @beer["notes"] %></div>
      <div class="p-2 m-2 bd-highlight">BA Score: <%= @beer["bascore"] %></div>
      <div class="p-2 m-2 bd-highlight">User Score: <%= @beer["uscore"] %></div>
    </div>
  </div>
  <a class="btn btn-danger w-50" href="/delete/<%=@beer["id"] %>">Delete beer</a>
</div>
