<h3> Confirm sumbmission </h3>

Name: <%= @beer["name"]%>
Brewery: <%= @beer["brewery"]%>
ABV: <%= @beer["ABV"]%>%
Style: <%= @beer["style"]%>
Notes: <%= @beer["notes"]%>
Score: <%= @beer["uscore"]%> /5
Image: <%= @beer["image"]%>

<a href="/">Cancel</a>
<form method="get" action="/mconfirm">
  <input type="submit" name="confirm" value="Confirm">
</form>
